html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/3/7/5/35997.jpg');
background-size: cover;
background-repeat: repeat;
height: 100%;
}


.container {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.modal-content {
	background-color: rgba(0,0,0,0.9) !important;
}
#logo {
	background-color: rgb(109, 137, 162);
	padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Caveat Brush', cursive;
    border-radius: 3px;
    white-space: nowrap;
    text-align: center;
}
#logo a:link, a:visited {
	color: black;
	text-decoration: none;
}

#logo a:hover, a:active {
	color: black;
	text-decoration: none;
}

.app-name {
	color: #986337;
	font-family: 'Caveat Brush', cursive;
	white-space: nowrap;
}

.links{
color: white;
}

.link-std {
	color: #007bff !important;
}

.links a{
margin-left: 4px;
}

table thead tr th{
	background-color : gray;
	min-width : 100px;
	position: relative;
}

.filter{
	position:absolute;
	border: solid 1px;
	top : 20px;
	background-color : black;
	width:140px;
	right:0;
	display:none;
	font-size: 10px;
}

.border-radius {
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
	margin-top: 15px;
}

.navbar.bg-dark {
	background-color: rgba(0,0,0,0.3) !important;
}

.table-sum {
	background-color: #212529;
}

a:link.updateLink {
	color: #007bff !important;
}
a:visited.updateLink {
	color: #986337 !important;
}

.access-denied {
	color: red;
}

.service-break {
	color: #46ce67;
}



